@page "/Member/ChangePassword"

<PageTitle>@_loc["_ChangePassword"]</PageTitle>

@*@inherits MudComponentBase*@

<MudCard Outlined="true" >
    <MudCardHeader>
        <CardHeaderAvatar>
            <MudIconButton Color="Color.Secondary" Icon="@Icons.Material.Filled.LockPerson" Size="Size.Large" ButtonType="ButtonType.Button" />
        </CardHeaderAvatar>
        <CardHeaderContent>
            <MudText Typo="Typo.body1">@_loc["_ChangePassword"]</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <EditForm Model="_changeRequest" OnValidSubmit="DoChangePassword">
            <DataAnnotationsValidator />

            <div class="mb-3">
                <label class="form-label">@_loc["_CurrentPassword"]</label>
                <InputText type="password" class="form-control" @bind-Value="_changeRequest.OldPassword" placeholder="@_loc["_CurrentPassword"]"></InputText>
                <div class="form-text text-danger"><ValidationMessage For="@(() => _changeRequest.OldPassword)" /></div>
            </div>
            <div class="mb-3">
                <label class="form-label">@_loc["_NewPassword"]</label>
                <InputText type="password" class="form-control" @bind-Value="_changeRequest.NewPassword" placeholder="@_loc["_NewPassword"]"></InputText>
                <div class="form-text text-danger"><ValidationMessage For="@(() => _changeRequest.NewPassword)" /></div>
            </div>
            <div class="mb-3">
                <label class="form-label">@_loc["_ConfirmPassword"]</label>
                <InputText type="password" class="form-control" @bind-Value="@_confirmPassword" placeholder="@_loc["_ConfirmPassword"]"></InputText>
                <div class="form-text text-danger">@(_changeRequest.NewPassword == _confirmPassword ? "" : _loc["_Err_Member_SetCompare_Password"])</div>
            </div>

            <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Update" Color="Color.Primary" ButtonType="ButtonType.Submit">@_loc["_Confirm"]</MudButton>
        </EditForm>

    </MudCardContent>
</MudCard>

