@inherits MudComponentBase

<EditForm Model="FormModel" OnValidSubmit="OnSubmitForm">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label class="form-label">@_loc["_Title"]</label>
        <InputText type="text" class="form-control" @bind-Value="FormModel.Title" placeholder="@_loc["_Title"]"></InputText>
        <div class="form-text text-danger">
            <ValidationMessage For="@(() => FormModel.Title)" />
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">@_loc["_Priority"]</label>
        <input type="number" class="form-control" @bind-value="FormModel.Priority" placeholder="@_loc["_Priority"]" />
        <div class="form-text text-danger"><ValidationMessage For="@(() => FormModel.Priority)" /></div>
    </div>

    <div class="mb-3">
        <label class="form-label">@_loc["_PageCode"]</label>
        <InputText type="text" class="form-control" @bind-Value="FormModel.PageCode" placeholder="@_loc["_PageCode"]"></InputText>
        <div class="form-text text-danger"><ValidationMessage For="@(() => FormModel.PageCode)" /></div>
    </div>

    <div class="mb-3">
        <label class="form-label">@_loc["_CoverImage"]</label>
        @if (!string.IsNullOrEmpty(FormModel.FileCode))
        {
             <div Class="row">
                <div class="col-12 mb-3">
                    <img class="img-thumbnail" src="@($"{_context.Request.Scheme}://{_context.Request.Host}")/api/Files/Receive/120X120/@FormModel.FileCode/CoverImage.jpg" />
                </div>
                <div class="col-12 mb-3">
                    <MudButton OnClick="(()=> DoDeleteFile(FormModel.SlideShowID))" Disabled="@(_currentFileName == "")" ButtonType="ButtonType.Button" Color="Color.Error" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Delete">@_loc["_Delete"]</MudButton>
                </div>
            </div>
        }
        else
        {
            <div Class="row">
                <div class="col-12 mb-3">
                    <MudFileUpload T="IBrowserFile" OnFilesChanged="UploadFiles">
                        <ActivatorContent>
                            <MudButton HtmlTag="label" ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.CloudUpload">
                                @_loc["_FileUpload"]
                            </MudButton>
                        </ActivatorContent>
                    </MudFileUpload>
                </div>
                <div class="col-12 mb-3">
                    <MudButton OnClick="DoUploadFile" Disabled="@(_currentFileName == "")" ButtonType="ButtonType.Button" Color="Color.Primary" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.FileUpload">@_loc["_DoUploadFile"]</MudButton>
                    <MudButton OnClick="ClearUploadFile" Disabled="@(_currentFileName == "")" ButtonType="ButtonType.Button" Color="Color.Error" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Clear">@_loc["_Clear"]</MudButton>
                </div>
            </div>
        }
        <ValidationMessage For="@(() => FormModel.FileCode)" />
    </div>

    <div class="mb-3">
        <label class="form-label">@_loc["_SettingsArray"]</label>
        <div class="row">
            <div class="col-sm-4"><input type="text" class="form-control" placeholder="@_loc["_Title"]" @bind="_settingKey" /></div>
            <div class="col-sm-4"><input type="text" class="form-control" placeholder="@_loc["_Body"]" @bind="_settingValue" /></div>
            <div class="col-sm-2"><input type="button" class="btn btn-primary" value="@_loc["_AddNew"]" @onclick="AddNewSetting" /></div>
        </div>


        <div class="col-sm-12">
            @foreach (var j in _slideShowSettings)
            {
                <p><button type="button" class="btn btn-sm btn-danger" @onclick="(()=> RemoveSetting(j.Key))">@_loc["_Delete"]</button>@(j.Key): @j.Value</p>
            }
        </div>
    </div>

    <hr />
    <ValidationSummary />
    <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Dataset">@_loc["_Submit"]  @_loc["_SlideShow"]</MudButton>

</EditForm>