@page "/Member/RoleList"
@attribute [Authorize(Roles = "PolicyManager")]

<PageTitle>@_loc["_View_Roles"]</PageTitle>

<MudCard Outlined="true">
    <MudCardHeader>
        <CardHeaderAvatar>
            <MudIconButton Color="Color.Secondary" Icon="@Icons.Material.Filled.LocalActivity" Size="Size.Large" ButtonType="ButtonType.Button" />
        </CardHeaderAvatar>
        <CardHeaderContent>
            <MudText Typo="Typo.body1">@_loc["_View_Roles"]</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <Dotnetable.Admin.Components.Shared.FormControls.DNGridView GridHeaderParams="_gridHeaderParams" OnSearchChanged="OnSearchChanged">
            @if (_cachedRoles is not null && _cachedRoles.Count > 0)
            {
                foreach (var j in _cachedRoles)
                {
                    <tr>
                        <td>@j.RoleID</td>
                        <td>@j.RoleKey</td>
                        <td>@j.Description</td>
                    </tr>
                }
            }
        </Dotnetable.Admin.Components.Shared.FormControls.DNGridView>
    </MudCardContent>
</MudCard>