@page "/Message/EmailSettingManage"

<PageTitle>@_loc["_Email_Setting_Manage"]</PageTitle>

<MudContainer MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem md="12" sm="12" xs="12">
            <MudCard Outlined="true">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudIconButton Color="Color.Secondary" Icon="@Icons.Material.Filled.Email" Size="Size.Large" ButtonType="ButtonType.Button" />
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">@_loc["_Email_Setting_Manage"]</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudTooltip Arrow="true" Text="@_loc["_Email_Setting_Insert"]">
                            <MudIconButton Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Success" OnClick="InsertNewSetting" />
                        </MudTooltip>
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <Dotnetable.Admin.Components.Shared.FormControls.DNGridView GridHeaderParams="_gridHeaderParams" OnSearchChanged="OnSearchChanged">
                        @if (_listResponse != null && _listResponse.EmailSettings != null && _listResponse.EmailSettings.Count > 0)
                        {
                            foreach (var j in _listResponse.EmailSettings)
                            {
                                <tr>
                                    <td>@j.EmailSettingID</td>
                                    <td>@j.EmailAddress</td>
                                    <td>@j.SMTPPort</td>
                                    <td>@j.MailServer</td>
                                    <td>@j.EmailName</td>
                                    <td>@(((Dotnetable.Shared.DTO.Public.EmailType)j.EMailType).ToString())</td>
                                    <td>@(j.Active ? _loc["_Active"] : _loc["_DeActive"])</td>
                                    <td>
                                        <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
                                            <MudButton>@_loc["_Management"]</MudButton>
                                            <MudMenu Icon="@Icons.Material.Filled.ArrowDropDown">
                                                <MudMenuItem Icon="@Icons.Material.Filled.Edit" OnClick="@(() => EditCurrentSetting(j))">@_loc["_Edit"]</MudMenuItem>
                                                <MudMenuItem Icon="@(j.Active?Icons.Material.Filled.LockOpen:Icons.Material.Filled.Lock)" OnClick="@(() => ChangeActiveStatus(j))">@_loc["_Active_DeActive"]</MudMenuItem>
                                            </MudMenu>
                                        </MudButtonGroup>
                                    </td>
                                </tr>
                            }
                        }
                    </Dotnetable.Admin.Components.Shared.FormControls.DNGridView>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>