@layout LoginLayout

@page "/Auth/Login"

<PageTitle>@_loc["_Login"]</PageTitle>

<EditForm Model="@_loginRequest" OnValidSubmit="@ValidateUser">
    <DataAnnotationsValidator />

    <div class="mb-4">
        <i class="feather icon-unlock auth-icon"></i>
    </div>

    <div class="mb-3 row">
        <div class="col-12"><InputText class="form-control bc-white" placeholder="@_loc["_Username"]" @bind-Value="_loginRequest.Username"></InputText></div>
        <div class="form-text text-danger"><ValidationMessage For="@(() => _loginRequest.Username)" /></div>
    </div>
    <div class="mb-3 row">
        <div class="col-12"><InputText type="password" class="form-control bc-white" placeholder="@_loc["_Password"]" @bind-Value="_loginRequest.Password"></InputText></div>
        <div class="form-text text-danger"><ValidationMessage For="@(() => _loginRequest.Password)" /></div>
    </div>
    <button class="btn btn-primary shadow-2 mb-4 btn-block">@_loc["_Login"]</button>

</EditForm>

<hr />

<p class="text-center">@_loc["_ForgetYourPassword"] <a href="/Auth/Reset" class="btn btn-link">@_loc["_RecoveryPassword"]</a></p>
