@layout LoginLayout

@page "/Auth/Reset"

<PageTitle>@_loc["_RecoveryPassword"]</PageTitle>

@if (_persianLanguage)
{
    <link href="/css/layout/rtl.css" rel="stylesheet" />
}


@if (!_sendCode)
{
    <EditForm Model="@_fetchRecoveryCode" OnValidSubmit="@GetRecoveryCode">
        <DataAnnotationsValidator />

        <div class="mb-4">
            <i class="feather icon-unlock auth-icon"></i>
        </div>

        <div class="mb-3 row">
            <div class="col-12"><InputText class="form-control bc-white" placeholder="@_loc["_Username"]" @bind-Value="_fetchRecoveryCode.Username"></InputText></div>
            <div class="form-text text-danger"><ValidationMessage For="@(() => _fetchRecoveryCode.Username)" /></div>
        </div>

        <button class="btn btn-primary shadow-2 mb-4 btn-block">@_loc["_SendRecoveryCode"]</button>

    </EditForm>
}
else
{

    <EditForm Model="@_setRecoveryCodeModel" OnValidSubmit="@SetRecoveryCode">
        <DataAnnotationsValidator />

        <div class="mb-4">
            <i class="feather icon-unlock auth-icon"></i>
        </div>

        <div class="mb-3 row">
            <div class="col-12"><InputText class="form-control bc-white" placeholder="@_loc["_Username"]" @bind-Value="_setRecoveryCodeModel.Username"></InputText></div>
            <div class="form-text text-danger"><ValidationMessage For="@(() => _setRecoveryCodeModel.Username)" /></div>
        </div>

        <div class="mb-3 row">
            <div class="col-12"><InputText type="password" class="form-control bc-white" placeholder="@_loc["_PASSWORD"]" @bind-Value="_setRecoveryCodeModel.Password"></InputText></div>
            <div class="form-text text-danger"><ValidationMessage For="@(() => _setRecoveryCodeModel.Password)" /></div>
        </div>

        <div class="mb-3 row">
            <div class="col-12"><InputText type="password" class="form-control bc-white" placeholder="@_loc["_Confirm"]" @bind-Value="@_confirmPassword"></InputText></div>
            <div class="form-text text-danger">@(_setRecoveryCodeModel.Password == _confirmPassword ? "" : _loc["_Err_Member_SetCompair_Password"])</div>
        </div>

        <div class="mb-3 row">
            <div class="col-12"><InputText class="form-control bc-white" placeholder="@_loc["_ForgetKey"]" @bind-Value="_setRecoveryCodeModel.ForgetKey"></InputText></div>
            <div class="form-text text-danger"><ValidationMessage For="@(() => _setRecoveryCodeModel.ForgetKey)" /></div>
        </div>

        <button class="btn btn-primary shadow-2 mb-4 btn-block">@_loc["_SetNewPassword"]</button>
    </EditForm>

}

<hr />

<p class="text-center">@_loc["_GoToLogin"] <a href="/Auth/Login" class="btn btn-link">@_loc["_Login"]</a></p>
<ul class="flags">
    @if (_persianLanguage)
    {
        <li @onclick="@(()=> ChangeLanguage("en-US"))"><img src="/images/flag-en.jpg" /></li>
    }
    else
    {
        <li @onclick="@(()=> ChangeLanguage("fa-IR"))"><img src="/images/flag-fa.jpg" /></li>
    }
</ul>
