@page "/PostCategory/Manage"

<PageTitle>@_loc["_PostCategory_Manage"]</PageTitle>

<MudContainer MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem md="12" sm="12" xs="12">
            <MudCard Outlined="true">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudIconButton Color="Color.Secondary" Icon="@Icons.Material.Filled.Category" Size="Size.Large" ButtonType="ButtonType.Button" />
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">@_loc["_PostCategory_Manage"]</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudTooltip Arrow="true" Text="@_loc["_PostCategory_Insert_Parent"]">
                            <MudIconButton Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Success" OnClick="(()=> PostCategoryInsert())" />
                        </MudTooltip>
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>

                    <Dotnetable.Admin.Components.Shared.Nestable.NestableWrapper Model="_nestableItems" ResponseModel="NestableChanges" CssClass="col-md-12" MenuID="PostCatRightClickMenu">
                        <ContextMenu Id="PostCatRightClickMenu">
                            <Item OnClick="EditItem">@_loc["_PostCategory_Update"]</Item>
                            <Item OnClick="AddChildItem">@_loc["_PostCategory_Insert_Child"]</Item>
                            <Seperator />
                            <Item OnClick="ChangeStatus">@_loc["_PostCategory_ChangeStatus"] </Item>
                            <Item OnClick="AppendLanguage">@_loc["_Append_Other_Language"] </Item>
                        </ContextMenu>
                    </Dotnetable.Admin.Components.Shared.Nestable.NestableWrapper>


                    <button type="button" class="btn btn-primary" @onclick="UpdatePriorityChanges">@_loc["_PostCategoy_ChangePriority_Update"]</button>

                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>