<MudDialog>
    <DialogContent>
        <div class="mb-3">
            <label class="form-label">@_loc["_NewPassword"]</label>
            <InputText class="form-control" @bind-Value="_newPassword" @onkeyup="SubmitForm" placeholder="@_loc["_NewPassword"]"></InputText>
            <div class="form-text">
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Password" Color="Color.Info" OnClick="GenerateNewPassword">@_loc["_GenerateNewPassword"]</MudButton>
            </div>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Send" Color="Color.Primary" OnClick="OnAcceptChangePassword">@_loc["_Confirm"]</MudButton>
    </DialogActions>
</MudDialog>